header {
    background-color: #2c6184;
}

#scroller {
    background-color: #89689d;
}

body {
    background-color: #ffffff;
    color: black;
}

.paper-icon-dark {
    display: None;
}

h1,
h2,
h3 {
    color: #222;
}

a {
    color: #2c6184;
}

a:hover {
    color: #89689d;
}

.hbar {
    color: #015b58;
}

h3 {
    border-bottom: 1px #015b58 dashed;
}
