header {
    background-color: #85B6CE;
}

#scroller {
    background-color: #64A8A8;
}

body {
    background-color: #ffffff;
    color: black;
}

.paper-icon-dark {
    display: None;
}

h1,
h2,
h3 {
    color: #222;
}

a {
    color: #85B6CE;
}

a:hover {
    color: #64A8A8;
}

.hbar {
    color: #2C6184;
}

h3 {
    border-bottom: 1px #2C6184 dashed;
}
